.btn-opc{
	width:100%;
}
.primer-btn{
	margin-top: 150px;
}
.ultimo-btn{
	margin-bottom: 200px;
}
nav{
	background-color: #424242;
}
.icon-nav{
	margin-left: 40px;
}
.nav-wrapper p{
	margin-top: 0px;
	width: 75%;
}
.bip-number{
	margin-top: 50px;
}
#saldo-section{
	height: 500px;
}

/*SALDO*/
.first-sal{
	margin-top: 50px;
}
/*CALCULO*/
/*PERFIL*/
.perfil-img{
	border-radius: 100%;
	width: 150px;
	height: 150px;
	margin: 20px;
}
.agregar-tarj{
	width: 100%;
}
.preg-title{
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: 900;
}