/* YeyeYeee código aquí */
*{
	padding: 0;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}

h1{
	font-weight: 900;
}

img{
	width: 25%;
	padding-top: 20%; 
}
button{
	width:100%;
	height: 100px;
}
